@font-face { 
    font-family: Lato-Regular;
    src: url("../fonts/Lato/Lato-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face { 
    font-family: Lato-Bold;
    src: url("../fonts/Lato/Lato-Bold.ttf");
    font-style: bold;
    font-weight: 700;
}

@font-face { 
    font-family: Lato-Black;
    src: url("../fonts/Lato/Lato-Black.ttf");
    font-style: black;
    font-weight: 900;
}

@font-face { 
    font-family: Lato-Thin;
    src: url("../fonts/Lato/Lato-Thin.ttf");
    font-style: thin;
    font-weight: 100;
}

.card{
	height: 1457px;
	width: 1440px;
	background-color: #010625;
	-webkit-text-fill-color: white;
	display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
}

.content{
	width: 542px;
    height: 560px;
    left: 82px;
    top: 150px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
}

.header-text{
	font-family: Lato-Bold, sans-serif;
	width: 405px;
	height: 318px;
	font-weight: 800;
	font-size: 88px;
	line-height: 105px
}

.content-text{
	font-family: Lato-Regular, sans-serif;
	width: 542px;
	height: 96px;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
}

.explore-btn{
	height: 66px;
	width: 190px;
	background: white;
	-webkit-text-fill-color: #01062D;
	font-family: Lato-Bold, sans-serif;
	font-size: 28px;
	line-height: 18px;
	border-radius: 16px;
	padding: 24px 48px 24px 48px;
	gap: 10px;
}

.rectangle{
	width: 96px;
	height: 8px;
	background-color: white;
	
}

.text-list{
	width: 456px;
	height: 464px;
	gap: 40px;
	display: flex;
	flex-direction: column;
}

.text-list_item{
	width: 456px;
	height: 112px;
	gap: 16px;
	display:flex;
	flex-wrap: wrap;
}

.text-list_info{
	font-family: Lato-Thin, sans-serif;
	font-size: 24px;
	line-height: 32px;
}

.text-list_counter{
	font-family: Lato-Black, sans-serif;
	font-size: 32px;
	line-height: 32px;
}

.top-items{
	height: 500px;
	width: 732px;
	left: 646px;
	display: flex;
	justify-content: space-between;
}

.top-items span{
	width: 348px;
	height: 473px;
	border-bottom-left-radius: 400px;
	border-bottom-right-radius: 400px;
	background-size: cover;
    background-position: center;
	
}
.top-item_sharp{
	background-image: url("../images/top_left.jpg");
}

.top-item_green_rctgl{
	background-image: url("../images/top_right.jpg");
}

.mid-items{
	width: 676px;
	height: 304px;
	top: 160px;
	display: flex;
	position: relative;
}

.mid-items span{
	width: 676px;
	height: 304px;
	border-radius: 32px;
	background-size: cover;
    background-position: center;
}


.mid-item_spiral{
	background-image: url("../images/mid.jpg");
}

.bot-items{
	width: 1284px;
	height: 260px;
	top: 1133px;
	left: 64px;
	gap: 24px;
	display:flex;
}
.bot-items span{
	height: 260px;
	width: 428px;
	border-radius: 16px;
	background-size: cover;
    background-position: center;
}

.bot-item_glass{
	background-image: url("../images/bot_left.jpg");
}

.bot-item_checks{
	background-image: url("../images/bot_mid.jpg");
}

.bot-item_rubick{
	background-image: url("../images/bot_right.jpg");
}